* {
  margin: 0px;
  padding: 0px;
}

.align_centre {
  display: flex;
  align-items: center;
}
/* header of the page !*/

#header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
}

#header_logo {
  color: #f4f4f4;
  font-size: 30px;
  font-family: sans-serif;
}

.header_text {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4f4f4;
}
ul {
  list-style-type: none;
  display: inline;
}
li {
  padding-right: 20px;
  float: left;
}

/* About us */

#about_us {
  height: 470px;
  width: 100%;
  display: flex;
  background-image: url("./assets/header-image.jpg");
  background-position: center;
}
#about_us div h1 {
  color: #f4f4f4;
  font-weight: bold;
  font-family: sans-serif;
}

#about_us div p {
  margin-top: 15px;
  color: #f4f4f4;
  font-family: sans-serif;
  font-weight: 500;
}

#about_us_btn {
  margin-top: 15px;
  padding: 20px 60px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to right, #f05a28, #ec008c);
}

#about_us_text {
  padding-left: 100px;
}

/* Course */

.course_box
{
    width:500px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgb(5 6 7 / 10%), 0 3px 1px 0 rgb(20 23 28 / 10%);
    margin: 20px;
}
.course_box h1
{
    padding-top: 5px;
}
.course_box p
{
    color:#353b48;
    padding-top: 10px;
    padding-bottom: 10px;
}
.underline
{
    height: 7px;
    width: 50px;
    background-color: #f05a28;
}
#course_outter_box
{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.course_box img
{
    height: 279px;
    width: 500px;
}